name: package and push docker

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install pnpm
      run: npm install -g pnpm

    - name: Build frontend
      run: |
        cd frontend
        pnpm install --frozen-lockfile
        pnpm run build

    - name: Show frontend build
      run: ls -la frontend/dist

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Set Docker image tag (date+commit)
      id: vars
      run: |
        TAG=$(date +'%Y%m%d-%H%M%S')-$(git rev-parse --short HEAD)
        echo "tag=$TAG" >> $GITHUB_OUTPUT

    - name: Build Docker image with tags
      run: |
        docker build -t ezsky111/taskrunservice:${{ steps.vars.outputs.tag }} -t ezsky111/taskrunservice:latest .

    - name: Push Docker image with tag
      run: docker push ezsky111/taskrunservice:${{ steps.vars.outputs.tag }}

    - name: Push Docker image with latest tag
      run: docker push ezsky111/taskrunservice:latest

    - name: Logout of Docker Hub
      run: docker logout
